:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --button-color: #ffffff;
}

ul {
  list-style: none;
}

.gallery > img {
  width: 370px;
  height: 294px;
}

/*site nav*/

.logotype {
  color: var(--accent-color);
}
.partlogotype {
  color: var(--title-text-color);
}

.link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/*Section*/
.section {
  color: var(--title-text-color);
}

.section-list-inf,
.section-staff-position {
  color: var(--primary-text-color);
}

/*portfolio page*/
.gallery-title {
  color: var(--primary-text-color);
}

.button {
  background-color: var(--accent-color);
  color: var(--button-color);
}
